body {
    background: linear-gradient(309deg, #ffb800, #de7dbd, #0066ff);
    background-size: 200% 200%;
    position: relative;
    -webkit-animation: Gradient 0s ease infinite;
    -moz-animation: Gradient 0s ease infinite;
    animation: Gradient 6s cubic-bezier(0.67, -0.01, 0.28, 1.04) infinite;
    /* background-size: cover; */
}
@keyframes Gradient {
    0%{background-position:1% 0%}
    50%{background-position:99% 100%}
    100%{background-position:1% 0%}
}

    div.main {
        height: 100vh;
        width: 100vw;
        padding-top: 20vh;
    }

    div.startbox{
        text-align: center;
    }
    div.startbox img{
        height: auto;
        width: auto;
        max-width: 50%;
    }
    div.container{
        text-align: center;
        object-fit: cover;
    }
