body {
    background: linear-gradient(309deg, #ffb800, #de7dbd, #0066ff);
    background-size: 600% 600%;
    position: relative;
    -webkit-animation: Gradient 0s ease infinite;
    -moz-animation: Gradient 0s ease infinite;
    animation: Gradient 0s ease infinite;
    background-size: cover;
    
}

@-webkit-keyframes Gradient {
    0%{background-position:1% 0%}
    50%{background-position:99% 100%}
    100%{background-position:1% 0%}
}
@-moz-keyframes Gradient {
    0%{background-position:1% 0%}
    50%{background-position:99% 100%}
    100%{background-position:1% 0%}
}
@keyframes Gradient {
    0%{background-position:1% 0%}
    50%{background-position:99% 100%}
    100%{background-position:1% 0%}
}

    div.main {
        height: 100vh;
        width: 100vw;
        padding-top: 20vh;
    }

    div.startbox{
        text-align: center;
    }
    div.startbox img{
        height: 100px;
        width: 555px;
        object-fit: cover;
    }
    div.container{
        text-align: center;
    }
    div.container p {
font-size: 48px;
font-style: normal;
font-weight: bold;
text-decoration: none;
text-transform: none;
color: #ffffff;
}

body{
background-color: #0d1117;
}

